In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# Pandas Series

# A pandas series is a one-dimensional array-like object that can hold many data types, 
# such as numbers or strings, and has an option to provide axis labels.

In [3]:
#     Differences between NumPy ndarrays and Pandas Series

#    One of the main differences between pandas Series and NumPy ndarrays
#    is that you can assign an index label to each element in the pandas Series.
#    In other words, you can name the indices of your pandas Series anything you want.

#    Another big difference between pandas Series and NumPy ndarrays 
#    is that pandas Series can hold data of different data types.

In [4]:
#  Create a Series

# We import pandas as pd into Python
import pandas as pd

# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the groceries pandas Series
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [5]:
# We see that pandas Series are displayed with 
# the indices in the first column and the data in the second column.
# Notice that the data is not indexed 0 to 3 
# but rather it is indexed with the names of the food we put in,
# namely eggs, apples, etc... Also, 
# notice that the data in our pandas Series has both integers and strings.

In [6]:
# Just like NumPy ndarrays,
# pandas Series have attributes that allow us to 
# get information from the series in an easy way. Let's see some of them:
# Print attributes - shape, ndim,and size

# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the groceries pandas Series
groceries

# We print some information about Groceries
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements

In [7]:
# Print attributes - values, and index

# We print the index and data of Groceries
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

The data in Groceries is: [30 6 'Yes' 'No']
The index of Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [8]:
# If you are dealing with a very large pandas Series 
# and if you are not sure whether an index label exists, you can check by using the in command

#Check if an index is available in the given Series

# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

# We check whether bread is a food item (an index) in Groceries
y = 'bread' in groceries

# We print the results
print('Is bananas an index label in Groceries:', x)
print('Is bread an index label in Groceries:', y)

Is bananas an index label in Groceries: False
Is bread an index label in Groceries: True

In [9]:
#  Access elements using index labels

# We access elements in Groceries using index labels:

# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the groceries pandas Series
print(groceries)

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

eggs       30
apples      6
milk      Yes
bread      No
dtype: object
How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [10]:
# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the groceries pandas Series
print(groceries)

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])

eggs       30
apples      6
milk      Yes
bread      No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

In [11]:
# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the groceries pandas Series
print(groceries)


print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 

print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

eggs       30
apples      6
milk      Yes
bread      No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [12]:
# Mutate elements using index labels

# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Modified Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [13]:
#  Delete elements out-of-place using drop()

# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples out of place:\n', groceries)

Original Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

We remove apples (out of place):
 eggs       2
milk     Yes
bread     No
dtype: object

Grocery List after removing apples out of place:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [14]:
# We can delete items from a pandas Series in place
# by setting the keyword inplace to True in the .drop() method.

# Delete elements in-place using drop()

# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list in place by setting the inplace keyword to True
groceries.drop('apples', inplace = True)

# When we remove elements in place the original Series its modified. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples in place:\n', groceries)

Original Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

Grocery List after removing apples in place:
 eggs       2
milk     Yes
bread     No
dtype: object

In [15]:
# We create a pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

# We display the fruits pandas Series
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [16]:
# We can now modify the data in fruits by performing basic arithmetic operations. 
# Element-wise basic arithmetic operations

# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)

# We perform basic element-wise operations using arithmetic symbols
print()
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits
print()
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits
print()
print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 
print()
print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2
print()

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

fruits + 2:
 apples     12
oranges     8
bananas     5
dtype: int64

fruits - 2:
 apples     8
oranges    4
bananas    1
dtype: int64

fruits * 2:
 apples     20
oranges    12
bananas     6
dtype: int64

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [17]:
# You can also apply mathematical functions from NumPy,
# such assqrt(x), to all elements of a pandas Series.

# Use mathematical functions from NumPy to operate on Series

# We import NumPy as np to be able to use the mathematical functions
import numpy as np

# We print fruits for reference
print('Original grocery list of fruits:\n', fruits)

# We apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n', np.exp(fruits))
print() 
print('SQRT(X) =\n', np.sqrt(fruits))
print()
print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2

Original grocery list of fruits:
 apples     10
oranges     6
bananas     3
dtype: int64

EXP(X) =
 apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

SQRT(X) =
 apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

POW(X,2) =
 apples     100
oranges     36
bananas      9
dtype: int64

In [18]:
# Pandas also allows us to only apply arithmetic operations 
# on selected items in our fruits grocery list. Let's see some examples

# Perform arithmetic operations on selected elements

# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)
print()

# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)
print()

# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print()

# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)
print()

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

print('Original grocery list of fruits:\n ', fruits)

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

Amount of bananas + 2 =  5

Amount of apples - 2 =  8

We double the amount of apples and oranges:
 apples     20
oranges    12
dtype: int64

We half the amount of apples and oranges:
 apples     5.0
oranges    3.0
dtype: float64
Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

In [19]:
# Perform multiplication on a Series having integer and string elements

# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We multiply our grocery list by 2
groceries * 2

Original Grocery List:
 eggs       2
milk     Yes
bread     No
dtype: object

eggs          4
milk     YesYes
bread      NoNo
dtype: object

In [20]:
# Create a DataFrame manually

# We will start by creating a DataFrame manually from a dictionary of pandas Series.
# It is a two-step process:

#    The first step is to create the dictionary of pandas Series.
#    After the dictionary is created we can 
#    then pass the dictionary to the pd.DataFrame() function.

In [21]:
# We import pandas as pd into Python
import pandas as pd

# We create a dictionary of pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))

# We create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

# We display the DataFrame
shopping_carts

<class 'dict'>

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [22]:
# DataFrame assigns the numerical row indexes by default.

# We create a dictionary of pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [23]:
# Demonstrate a few attributes of DataFrame

# We display the DataFrame
print(shopping_carts)

# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN
shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [24]:
# We create a dictionary of pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))

# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

<class 'dict'>

       Bob
bike   245
pants   25
watch   55

In [25]:
 # Selecting specific rows of a DataFrame

    # We create a dictionary of pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [26]:
 # Selecting specific columns of a DataFrame

 # We create a dictionary of pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We Create a DataFrame that only has selected items for Alice
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

# We display alice_sel_shopping_cart
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [27]:
# Create a DataFrame using a dictionary of lists

# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data)

# We display the DataFrame
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6

In [28]:
#  Create a DataFrame using a dictionary of lists, and custom row-indexes (labels)

# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [29]:
#  Create a DataFrame using a of list of dictionaries

# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [30]:
# Create a DataFrame using a of list of dictionaries, and custom row-indexes (labels)

# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [31]:
# Access elements using labels

# We print the store_items DataFrame
print(store_items)

# We access rows, columns and elements using labels
print()
print('How many bikes are in each store:\n', store_items[['bikes']])
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()
print('What items are in Store 1:\n', store_items.loc[['store 1']])
print()
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

How many bikes are in each store:
          bikes
store 1     20
store 2     15

How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

What items are in Store 1:
          bikes  pants  watches  glasses
store 1     20     30       35      NaN

How many bikes are in Store 2: 15

In [32]:
# Add a column to an existing DataFrame

# We print the store_items DataFrame
print(store_items)

# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['shirts'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [33]:
# Add a new column based on the arithmetic operation between existing columns of a DataFrame

# We print the store_items DataFrame
print(store_items)

# We make a new column called suits by adding the number of shirts and pants
store_items['suits'] = store_items['pants'] + store_items['shirts']

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

In [34]:
# Create a row to be added to the DataFrame

# We create a dictionary from a list of Python dictionaries that will contain the number of different items at the new store
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

new_store = pd.DataFrame(new_items)

print(new_store)
# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
print(new_store)

   bikes  pants  watches  glasses
0     20     30       35        4
         bikes  pants  watches  glasses
store 3     20     30       35        4

In [35]:
# Append the row to the DataFrame

print(store_items)
print()

print(new_store)
print()
# We append store 3 to our store_items DataFrame
store_items = store_items.append(new_store)

# We display the modified DataFrame
print(store_items)

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

         bikes  pants  watches  glasses
store 3     20     30       35        4

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

In [36]:
#  Add new column that has data from the existing columns

print(store_items)
print()
# We add a new column using data from particular rows in the watches column
print(store_items['watches'][:])
print()
# We add a new column using data from particular rows in the watches column
store_items['new watches'] = store_items['watches'][:]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

store 1    35
store 2    10
store 3    35
Name: watches, dtype: int64

         bikes  pants  watches  glasses  shirts  suits  new watches
store 1     20     30       35      NaN    15.0   45.0           35
store 2     15      5       10     50.0     2.0    7.0           10
store 3     20     30       35      4.0     NaN    NaN           35

In [37]:
#  is also possible,
# to insert new columns into the DataFrames anywhere we want.
# The dataframe.insert(loc,label,data) method allows us 
# to insert a new column in the dataframe at 
# location loc,
# with the given column label, 
# and given data.

In [38]:
# Let's add new column named shoes right before the suits column.
# Since suits has numerical index value 4 then we will use this value as loc.

print(store_items)
print()
# We insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4,'shoes',[8,5,5,9,0])

# we display the modified DataFrame
print(store_items)

         bikes  pants  watches  glasses  shirts  suits  new watches
store 1     20     30       35      NaN    15.0   45.0           35
store 2     15      5       10     50.0     2.0    7.0           10
store 3     20     30       35      4.0     NaN    NaN           35

ValueError: Length of values (5) does not match length of index (3)

In [ ]:
# Just as we can add rows and columns we can also delete them. 
# To delete rows and columns from our DataFrame we will use the 
# .pop() and .drop() methods. 
# The .pop() method only allows us to delete columns,
# the .drop() method can be used to delete both rows and columns by use of the axis keyword.

In [ ]:
print(store_items)
print()
# We remove the new watches column
store_items.pop('new watches')

# we display the modified DataFrame
print(store_items)

In [ ]:
#  Delete multiple columns from a DataFrame

print(store_items)
print()

# We remove the watches and shoes columns
store_items = store_items.drop(['bikes', 'glasses'], axis = 1)

# we display the modified DataFrame
print(store_items)

In [ ]:
# Delete rows from a DataFrame

print(store_items)
print()
# We remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
print(store_items)

In [ ]:
# Sometimes we might need to change the row and column labels.
# Let's change the bikes column label to hats using the .rename() method

print(store_items)
print()
# We change the column label pants to hats
store_items = store_items.rename(columns = {'pants': 'hats'})

# we display the modified DataFrame
print(store_items)

In [ ]:
# Now let's change the row label using the .rename() method again.

print(store_items)
print()
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
print(store_items)

In [ ]:
# You can also change the index to be one of the columns in the DataFrame.

# Use existing column values as row-index

print(store_items)
print()
# We change the row index to be the data in the pants column
store_items = store_items.set_index('hats')

# we display the modified DataFrame
print(store_items)

In [ ]:
# We will begin by creating a DataFrame with some NaN values in it.

# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# We display the DataFrame
store_items

In [ ]:
# Count the total NaN values

# We count the number of NaN values in store_items
x =  store_items.isnull()
# We print x
print('NaN values in our DataFrame:', x)
print()

y =  store_items.isnull().sum()
# We print y
print('Number of NaN values in each coumn:', y)
print()

z =  store_items.isnull().sum().sum()
# We print z
print('total Number of NaN values in our DataFrame:', z)

In [ ]:
# Instead of counting the number of NaN values we can also do the opposite, we can count the number of non-NaN values. We can do this by using the .count() method as shown below:

#Count the total non-NaN values

# We print the number of non-NaN values in our DataFrame
print()
print('Number of non-NaN values in the columns of our DataFrame:\n', store_items.count())

In [ ]:
# Now that we know if our dataset has any NaN values in it,
# the next step
# is to decide what to do with them.
# In general,
# we have two options, 
# we can either
# delete or replace the NaN values.

In [ ]:
# We will start by how to eliminate rows or columns from our DataFrame
# that contain any NaN values.

# The .dropna(axis) method
#          eliminates any rows with NaN values when axis = 0 is used
#and will eliminate any columns with NaN values when axis = 1 is used.

 #   Tip: Remember, you can read axis = 0 as "down" and 
    #                            axis = 1 as "across" 
    # the given Numpy ndarray or Pandas dataframe object.

# Drop rows having NaN values

print(store_items)
print()

# We drop any rows with NaN values
print(store_items.dropna(axis = 0))
print()

print(store_items)

In [ ]:
print(store_items)
print()

# We drop any rows with NaN values
print(store_items.dropna(axis = 0))
print()

print(store_items)
print()

# We drop any columns with NaN values
print(store_items.dropna(axis = 1))
print()

print(store_items)

In [ ]:
# Substituting NaN Values

# Now, instead of eliminating NaN values, 
# we can replace them with suitable values.
# We could choose for example to replace all NaN values with the value 0.
# We can do this by using the .fillna() method as shown below.

In [ ]:
# Replace NaN with 0

print(store_items)
print()

# We replace all NaN values with 0
store_items.fillna(0)

# We replace all NaN values with 10
store_items.fillna(10)

In [ ]:
# We can also use 
# the .fillna() method to replace NaN values with previous values in the DataFrame,
# this is known as forward filling.
# When replacing NaN values with forward filling,
# we can use previous values taken from columns or rows.

# The .fillna(method = 'ffill', axis) will use 
# the forward filling (ffill) method to replace NaN values
# using the previous known value along the given axis.

In [ ]:
# Forward fill NaN values down (axis = 0) the dataframe

print(store_items)
print()

# We replace NaN values with the previous value in the column
store_items.fillna(method = 'ffill', axis = 0)

In [ ]:
# Forward fill NaN values across (axis = 1) the dataframe

print(store_items)
print()

# We replace NaN values with the previous value in the row
store_items.fillna(method = 'ffill', axis = 1)

In [ ]:
# Similarly,
# you can choose to replace the NaN values 
# with the values that go after them in the DataFrame, 
# this is known as backward filling. The .fillna(method = 'backfill', axis)

In [ ]:
# Backward fill NaN values down (axis = 0) the dataframe

print(store_items)
print()

# We replace NaN values with the next value in the column
store_items.fillna(method = 'backfill', axis = 0)

In [ ]:
# Backward fill NaN values down (axis = 1) the dataframe

print(store_items)
print()

# We replace NaN values with the next value in the raw
store_items.fillna(method = 'backfill', axis = 1)

In [ ]:
# Notice that the .fillna() method replaces (fills) the NaN values out of place. 
# This means that the original DataFrame is not modified.
# You can always replace the NaN values in place 
# by setting the keyword inplace = True inside the fillna() function.

In [ ]:
# We can also choose to replace NaN values by using different interpolation methods.
# For example,
# the .interpolate(method = 'linear', axis) method
# will use linear interpolation to replace NaN values 
# using the values along the given axis.

In [ ]:
# Interpolate (estimate) NaN values down (axis = 0) the dataframe

print(store_items)
print()

# We replace NaN values by using linear interpolation using column values
store_items.interpolate(method = 'linear', axis = 0)

In [ ]:
print(store_items)
print()

# We replace NaN values by using linear interpolation using row values
store_items.interpolate(method = 'linear', axis = 1)

In [ ]:
import pandas as pd
import numpy as np

# DO NOT CHANGE THE VARIABLE NAMES

# Set the precision of our dataframes to one decimal place.
pd.set_option('precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a series of books. 
# The ratings given are in the range from 1 to 5, with 5 being the best score. 
# The names of the books, the corresponding authors, and the ratings of each user are given below:

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])

# User ratings are in the order of the book titles mentioned above
# If a user has not rated all books, Pandas will automatically consider the missing values as NaN.
# If a user has mentioned `np.nan` value, then also it means that the user has not yet rated that book.
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])


# Use the data above to create a Pandas DataFrame that has the following column
# labels: 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4'. 
# Let Pandas automatically assign numerical row indices to the DataFrame. 

# TO DO: Create a dictionary with the data given above
dat ={'Author' : authors , 'Book Title' : books , 'User 1' : user_1 , 'User 2' : user_2 , 'User 3' : user_3 , 'User 4' : user_4}

# TO DO: Create a Pandas DataFrame using the dictionary created above
book_ratings = pd.DataFrame(dat) 

# TO DO:
# If you created the dictionary correctly you should have a Pandas DataFrame
# that has column labels: 
# 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4' 
# and row indices 0 through 4.

# Now replace all the NaN values in your DataFrame with the average rating in
# each column. Replace the NaN values in place. 
# HINT: Use the `pandas.DataFrame.fillna(value, inplace = True)` function for substituting the NaN values. 
# Write your code below:
print(book_ratings)
print()

# book_ratings.fillna(book_ratings.mean(),inplace = True)

In [ ]:
# Load the data from a .csv file.

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"


# We load Google stock data in a DataFrame
car_price = pd.read_csv(other_path)

# We print some information about Google_stock
print('car_price is of type:', type(car_price))
print('car_price has shape:', car_price.shape)

In [ ]:
# Look at the first 5 rows of the DataFrame

car_price.head()

In [ ]:
#Look at the last 5 rows of the DataFrame
car_price.tail()

In [ ]:
# Let's do a quick check to see whether
# we have any NaN values in our dataset. 
# To do this, we will use
# the .isnull() method followed by the .any() method 
# to check whether any of the columns contain NaN values.

# Check if any column contains a NaN.
# Returns a boolean for each column label.

car_price.isnull().any()

In [ ]:
# See the descriptive statistics of the DataFrame

car_price.describe()

In [ ]:
#First, we create a list "headers" that include all column names in order

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

print("headers\n", headers)

In [ ]:
car_price.columns = headers
car_price.head(10)

In [ ]:
# See the descriptive statistics of one of the columns of the DataFrame

# We get descriptive statistics on a single column of our DataFrame
car_price['symboling'].describe()

In [ ]:
#  Statistical operations - Min, Max, and Mean

# We print information about our DataFrame  
print()
print('Maximum values of each column:\n', car_price.max())
print()
print('Minimum Close value:', car_price['normalized-losses'].min())
print()
print('Average value of each column:\n', car_price.mean())

In [ ]:
#  Statistical operation - Correlation

# We display the correlation between columns
car_price.corr()

In [ ]:
# groupby() method

# The .groupby() method allows us to group data in different ways.
# Let's see how we can group data to get different types of information